<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/Incidencias?createDatabaseIfNotExist=true
        </property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.connection.pool_size">50</property>
        <property name="show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.use_sql_comments">true</property>
        <property name="hibernate.physical_naming_strategy">com.example.SnakeCaseNamingStrategy</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <mapping class="com.example.model.Telefono" />
        <mapping class="com.example.model.Usuario" />
        <mapping class="com.example.model.Responsable" />
        <mapping class="com.example.model.Tecnico" />
        <mapping class="com.example.model.Tarea" />
        <mapping class="com.example.model.Participa" />
        <mapping class="com.example.model.Localizacion" />
        <mapping class="com.example.model.Incidencia" />


    </session-factory>
</hibernate-configuration>


